@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.navigation {
   display: flex;
   padding: 70px 0;
   justify-content: space-between;
   align-items: center;
}

.logo {
   transition: box-shadow 0.5s linear, opacity 0.5s linear;

   &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border-radius: 5px;
   }

   &:hover {
      opacity: 0.8;
   }

   &:active {
      opacity: 0.5;
   }
}

.menu {
   display: flex;
   align-items: center;

   &__list {
      display: flex;
      margin-right: 63px;
   }

   &__item:not(:last-child) {
      margin-right: 45px;
   }

   &__link {
      font-size: 18px;
   }

   &__navigation {
      display: flex;
   }

   &__navigation-link {
      width: 19px;
      height: 19px;
      transition: box-shadow 0.5s linear, opacity 0.5s linear;
      position: relative;
   }

   &__navigation-link:hover::after,
   &__navigation-link:active::after,
   &__navigation-link:focus::after {
      content: '';
      position: absolute;
      padding: 10px;
      border: solid 1px transparent;
      width: 44px;
      height: 44px;
      border-radius: 5px;
      top: -10px;
      left: -10px;
      background-color: $orange;
      z-index: -1;
   }

   &__navigation-link:hover {
      path {
         fill: #FFFFFF;
         stroke: #FFFFFF;
      }

      ellipse {
         stroke: #FFFFFF;
      }
   }

   &__navigation-link:focus {
      path {
         fill: $darkBlue-900;
         stroke: $darkBlue-900;
      }

      ellipse {
         stroke: $darkBlue-900;
      }

      &::after {
         border: solid 1px $orange;
         background-color: $lightPink;
      }
   }


   &__navigation-link:active::after {
      background-color: $lightPink;
   }

   &__navigation-link:not(:last-child) {
      margin-right: 35px;
   }

   &__navigation-num {
      position: absolute;
      font-size: 10px;
      color: #fff;
      text-align: center;
      line-height: 14px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      top: -5px;
      right: -9px;
      background-color: $orange-900;
   }
}


.delivery {

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {
      max-width: 450px;
      align-self: center;


      & h1 {
         font-size: 66px;
         @extend %quicksand-600;
         color: $darkBlue-900;
         text-transform: uppercase;
         line-height: 1.3;
         margin-bottom: 20px;
      }

      & p {
         margin-bottom: 20px;
      }

      & span {
         color: $orange-900;
      }
   }

   &__link {
      text-decoration-line: underline;
   }

   &__img {
      max-width: 560px;
   }

   &__button {
      max-width: 146px;
      padding: 12px 32px;
      background-color: $orange-900;
      font-size: 18px;
      color: #fff;
      margin-right: 43px;
      border-radius: 6px;

   }
}

.categories {
   text-align: center;

   &__title {
      @extend %quicksand-500;
      font-size: 36px;
      line-height: 1.3;
      color: $darkBlue-900;
      margin-bottom: 60px;
   }

   &__filter {
      display: flex;
      margin-bottom: 45px;
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 13px 32px;
      background-color: #FFFFFF;
      color: $darkBlue-900;
      border-radius: 5px;
      box-shadow: 0 0 0 1px $silver-200;
   }

   &__btn svg {
      width: 44px;
      height: 44px;
      margin-right: 10px;
   }

   &__list:not(:last-child) {
      margin-right: 20px;
   }
}

.food-menu {
   &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 30px;
      margin-bottom: 60px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 20px 35px;
      background-color: #FFFFFF;
      box-shadow: 0 0 0 1px $silver-200;
      border-radius: 5px;
   }

   &__img {
      margin-bottom: 10px;
   }

   &__subtitle {
      @extend %quicksand-400;
      font-size: 15px;
      line-height: 1.2;
      margin-bottom: 10px;
   }

   &__price {
      font-size: 15px;
      @extend %quicksand-500;
      line-height: 1.4;
      margin-bottom: 10px;
   }

   &__btn {
      max-width: 101px;
      background-color: $orange-900;
      color: #FFFFFF;
      font-size: 14px;
      @extend %quicksand-400;
      padding: 7px 16px;
      border-radius: 6px;
   }

   &__link {
      text-decoration: underline;
      color: $darkBlue-900;
   }

}


.footer {
   display: flex;
   flex-direction: column;

   &__top {
      display: flex;
      padding-bottom: 71px;
   }

   &__box {
      display: flex;
      flex-direction: column;
   }

   &__box .logo {
      margin-bottom: 30px;
   }

   &__box:not(:last-child) {
      margin-right: 70px;
   }

   &__item,
   {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.3;
   letter-spacing: 0.01em;
}

&__item:not(:last-child) {
   margin-bottom: 20px;
}

&__input {
   max-width: 200px;
   width: 100%;
   padding: 13px 15px;
   border: 1px solid #C2C2C2;
   border-radius: 5px;
   margin-bottom: 12px;
   font-size: 14px;
   color: $gray;
   transition: box-shadow 0.3ms;

   &::placeholder {
      color: $gray;
   }

   &:focus {
      box-shadow: 0 0 0 2px #FF6838;
   }

   &:hover::placeholder {
      color: $darkBlue-900;
   }
}

&__bottom {
   position: relative;
   padding: 30px 0;
   font-size: 14px;
   line-height: 1;
   text-align: center;
}

.footer__bottom::before {
   content: '';
   position: absolute;
   height: 1px;
   background-color: $gray;
   opacity: 0.2;
   left: 0;
   top: 0;
   right: 0;
}

&__address,
&__phone,
&__email {
   position: relative;
   display: block;
   font-size: 16px;
   line-height: 2;
   font-style: normal;
   margin-bottom: 15px;
   padding-left: 32px;
}
}

.footer__address::before,
.footer__phone::before,
.footer__email::before {
   content: '';
   position: absolute;
   width: 24px;
   height: 24px;
   background-repeat: no-repeat;
   background-size: cover;
   left: 0;
   top: 3px;
}

.footer__address::before {
   background-image: url('../images/footer/location.svg');
}

.footer__phone::before {
   background-image: url('../images/footer/calling.svg');
}

.footer__email::before {
   background-image: url('../images/footer/message.svg');
}

.social {
   display: flex;

   &__item:not(:last-child) {
      margin-right: 13px;
   }

   &__link {
      transition: fill 0.3s linear, box-shadow 0.3s ease-in-out;
   }

   &__link:focus {

      circle {
         fill: $lightPink;
      }

      svg {
         box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
         border-radius: 50%;
      }
   }

   &__link:hover {
      circle {
         fill: $orange;
      }

      path {
         fill: #FFFFFF;
      }
   }

   &__link:active {
      circle {
         fill: $lightPink;
      }

      path {
         fill: $orange;
      }
   }
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   max-width: 200px;
   width: 100%;
   padding: 13px 38px;
   background-color: $orange-900;
   font-size: 14px;
   font-weight: 500;
   line-height: 1.3;
   color: #FFFFFF;
   border: 1px solid transparent;
   border-radius: 5px;
   transition: color 0.4s linear, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

   & svg {
      margin-right: 16px;
   }

   &:hover {
      path {
         fill: $orange;
      }
   }

   &:active {
      path {
         fill: $orange;
      }
   }
}




@import 'media';